body {
    background-image: url(https://wallpaperaccess.com/full/1089778.jpg);
    margin-left: 600px;
    margin-right: 600px;
}

.main {
    margin-top: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #79c0be;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid rgb(0, 0, 0) 3px;
    border-radius: 10px;
}

input {
    width: 150px;
    height: 25px;
    border: solid 1px black;
    border-radius: 5px;
}

button {
    width: 75px;
    height: 25px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 5px;
}

img {
    margin-left: 10px;
    margin-right: 10px;
    border: solid 3px black;
    border-radius: 10px;
}

.WIP {
    text-align: center;
    background-color: #79c0be;
    margin-top: 35px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid rgb(0, 0, 0) 3px;
    border-radius: 8px;
}